/* General styles */
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

header {
    background-color: #8f6732;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    overflow: hidden;
    background-color: #8f6732;
    position: fixed;
    top:80px;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-toggle {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.nav-toggle:hover {
    background-color: #8f5100;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 135px; /* Below the header and navbar */
    background-color: #8f6732;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.left-sidebar {
    left: 0;
}

.right-sidebar {
    right: 0;
}

.sidebar h2 {
    color: white;
    padding-left: 15px;
}

.tile-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 20px;
}

.card {
    background-color: white;
    width: calc(50% - 10px); /* Two cards per row */
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: auto;
}

.card .container {
    padding: 10px;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

#main {
    padding: 16px;
    margin-top: 350px; /* Space for header and navbar */
    text-align: center;
}

.visualizer-container {
    position: relative;
    max-width: 800px; /* Adjust based on your preference */
    margin: 0 auto;
}

.visualizer-container img {
    position: absolute;
    max-width: 100%;
    max-height: calc(100vh - 160px); /* Adjusted to fit within viewport */
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .card {
        width: 100%; /* Full width cards on smaller screens */
    }

    .sidebar h2 {
        padding-left: 10px;
    }

    .tile-options {
        padding: 0 10px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .visualizer-container img {
        max-height: calc(100vh - 160px); /* Adjust based on header and navbar height */
    }
}

@media (max-width: 480px) {
    .nav-toggle {
        padding: 10px;
        font-size: 14px;
    }

    .visualizer-container img {
        max-height: calc(100vh - 160px); /* Adjust based on header and navbar height */
    }
}
