/* styles.css */

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 60px; /* Adjusted to start below the header */
    width: 100%;
    z-index: 2;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.nav-toggle {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.nav-toggle:hover {
    background-color: #555;
}

.left-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 15px;
}

.right-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-right: 15px;
}

.sidebar h2 {
    color: white;
    margin-left: 15px;
}

.sidebar .tile-options {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between; /* Ensures equal spacing between cards */
}

.card {
    background-color: white;
    width: calc(50% - 5px); /* Adjusted to fit two cards per row */
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: auto;
}

.card .container {
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .card {
        width: 100%; /* Display one card per row on smaller screens */
    }
}

.card:hover {
    transform: scale(1.05);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: 120px; /* Adjusted to start below the header and toggle navigation */
}

.container {
    position: relative;
}


.container img {
    position: fixed;
    max-width: 100%;
    max-height: calc(100vh - 120px); /* Adjusted to fit within viewport */
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
